:root{

    --primary-color: rgb(196, 196, 36);
    --secondary-color: rgb(87, 89, 59) ;
    --button-color: rgb(51, 107, 11);
    --black-color: black; 
    --white-color: white;
    --background-color: rgb(84, 131, 56);
    --yellow-color: rgb(201, 201, 92); 
}

.login-wrapper{
    display: flex;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;

}

.mainTitle{
    background-color: var(--primary-color);
    width:100%;
    padding: 10px;
    box-shadow: 5px 5px 5px var(--black-color);
}

.header{
    width: 100%;
    height: 20px;
    margin-bottom: 10px;
    position: relative
}

.login-box{
    border: 2px solid black;
    background-color: var(--primary-color);
    display: inline-grid;
    justify-content: space-evenly;
    align-items: baseline;
    justify-items: center;
    padding: 20px;
    box-shadow: 3px 3px 3px var(--secondary-color);


}

.button{
    margin: 5px;
    color: var(--white-color);
    background-color: var(--button-color);
    border: none;
    box-shadow: 2px 2px 2px var(--black-color);
    padding-left: 20px;
    padding-right: 20px;
}

.button:disabled{
    opacity: 0.5;
}

.tableContainer{
    background-color: var(--background-color);
    display: table;
    padding: 30px;
    margin: 20px;
    width: 100%;
    color: var(--white-color);
}

.passwordinfo{

    font-size: 10px; 
    width:150px
}